<header class="header">
   <nav class="nav_content">
      <div class="nav-container">
         <div class="row">
            <div class="menu-wrapper ff-poppins">
               <div class="left">
                  <div class="h5p-content" data-content-id="1234"></div>
                  <a href="" class="logo"><img src="../../assets/images/logo.png" class="logo_img" alt=""></a>
               </div>
               <div class="middle">
                  <a href="">Products</a>
                  <a href="">Solutions</a>
                  <a href="">Pricing</a>
                  <a href=""></a>
                  <a href="">
                  <button type="button" class="btn btn-default mright_20" >Login</button>
                  <button type="button" class="btn btn-primary" >Get Started</button></a>
               </div>
            </div>
         </div>
      </div>
   </nav>
</header>
<div class="hero wd-100">
   <div class="">
      <div class="row">
         <div class="col-md-5">
            <div class="hero_left_content">
               <div class="header_section">
                  <div class="mbottom_60">
                     <h2 class="header-title mb8">We make it Super<br> Simple</h2>
                     <div class="breaker"></div>
                  </div>
               </div>
               <div class="hero_image">
                  <img src="../../assets/images/collect_img-video.png" class="wd-80" />
                  <div class="pos_rel">
                     <img class="wd-50 pos_absolute" src="../../assets/images/accounting_dots.png" />
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-7 text-right pos_rel">
            <div class="hero-content hero__content">
            </div>
            <div class="pos_abs">
               <div class="center_img">
                  <img src="../../assets/images/right.png" class="wd-100" />
                  <div class="pos_rel z-index-1">
                     <img class="wd-50 pos_absolute top_60" src="../../assets/images/accounting_dots.png" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
         </div>
         <div class="col-md-6">
         </div>
      </div>
   </div>
</div>
<!---footer-->
<footer class="footer_section">
   <div class="container">
      <div class="footer_left_section">
         <div class="card">
            <div class="img_container">
               <img src="../../assets/images/get_paid_instantly.png" class="crd_img" />
            </div>
            <div class="title_section">
               <h2 class="title">Quick cash disbursement</h2>
               <p class="sub_title">Get terms loans that your business needs within 72 hrs</p>
            </div>
         </div>
         <div class="card">
            <div class="img_container">
               <img src="../../assets/images/low_interest_rate.png" class="crd_img" />
            </div>
            <div class="title_section">
               <h2 class="title">Low Interest rate</h2>
               <p class="sub_title">Achieve your financial goals with an amazing interest rate starting at 13% annum</p>
            </div>
         </div>
         <div class="card">
            <div class="img_container">
               <img src="../../assets/images/secure_payments.png" class="crd_img" />
            </div>
            <div class="title_section">
               <h2 class="title">Zero Papperwork</h2>
               <p class="sub_title">Get started instantly by submitting only your basic details & bank statements</p>
            </div>
         </div>
      </div>
      <div class="footer_left_section">
         <div class="bg_img">
            <div class="card">
               <div class="img_container">
                  <img src="../../assets/images/low_interest_rate.png" class="crd_img" />
               </div>
               <div class="title_section">
                  <h2 class="title bg_title">Ace your business finances</h2>
                  <p class="sub_title bg_sub_title">Manage banking, accounting & everything in between, on one platform</p>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img_container">
               <img src="../../assets/images/covid.png" class="crd_img" />
            </div>
            <div class="title_section">
               <h2 class="title">Loans to fight COVID-19</h2>
               <p class="sub_title">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
            </div>
         </div>
      </div>
      <div class="footer_right_section">
         <div class="">
            <h2 class="header-title ">Boost your business with Open</h2>
         </div>
         <div class="breaker_one">
         </div>
         <div class="">
            <h2 class="lable">Get your hands on a term loan that's crafted for your business</h2>
         </div>
         <div class="">
            <button type="button" class="btn btn-default">Get an Open Account</button>
         </div>
      </div>
   </div>
</footer>
