table{
    position: relative;
}
.w-100 {
    width: 100%!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table thead tr {
    margin: 0 0 5px;
}
.table-header th {
    padding: 14px 10px;
    color: #293239;
    font-size: 16px;
    line-height: 1.6rem;
    text-align: left;
}

table tbody{
    top: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 540px;
    bottom: 5px;
}
.table-body tr {
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.table-body td {
    padding: 14px 10px;
    color: #293239;
    font-size: 16px;
    line-height: 1.8rem;
    text-align: left;
}

table thead tr th:nth-child(1),table tbody tr td:nth-child(1){
  width: 20%;
}
table thead tr th:nth-child(2),table tbody tr td:nth-child(2){
  width: 20%;
}
table thead tr th:nth-child(3),table tbody tr td:nth-child(3){
  width: 20%;
}
table thead tr th:nth-child(4),table tbody tr td:nth-child(4){
  width: 20%;
}
table thead tr th:nth-child(5),table tbody tr td:nth-child(5){
  width: 20%;
}

.table-header tr {
    background-color: #f4f4f4;
}
.btn--preview {
    width: auto;
    padding: 15px;
    text-align: left;
    cursor: pointer;
}
.btn--primary {
    background-color: #4768fd;
    border: 1px solid transparent;
    font-size:16px;
    font-weight: 500;
    border-radius: 2px;
    transition: all .3s;
    cursor: pointer;
    padding: 8px;
    color: #fff;
}
